.disableDiv{
    margin-left: 5%;
}

.disableText{
 color: blueviolet;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 
}

.trueToggle {
    width: 60px;
	height: 30px;
    background-color: aquamarine;
    cursor:pointer;
    border: none;
    outline:none;
    transform: skew(-10deg);
    transition: all .5s ease;
    font-weight: bold;
    
}

.falseToggle {
    width: 70px;
	height: 40px;
    background-color: deeppink;
    cursor:pointer;
    border: none;
    outline:none;
    border-radius: 20px;
    transition: all .5s ease;
    font-weight: bold;
}